name: Deploy Spring Boot

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # Manual trigger button

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Cleanup
        run: rm -rf app target *.jar || true

      - name: Install dependencies
        run: |
          sudo dnf check update
          sudo dnf install -y maven openjdk-17-jdk git openssh-client rsync

      - name: Fetch public Spring Boot repo
        run: |
          git clone https://github.com/bratzelk/spring-boot-hello-world.git ./app
          cd app && ls -la

      - name: Build Spring Boot JAR
        run: |
          cd app
          mvn clean package -DskipTests
          ls -la target/

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          echo "${{ -----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACAMvXVeQ23eC1OinAGQKeSADJn0K0Y1355ocju0h1IjyAAAAJjTtlnI07ZZ
yAAAAAtzc2gtZWQyNTUxOQAAACAMvXVeQ23eC1OinAGQKeSADJn0K0Y1355ocju0h1IjyA
AAAECnUe2jpExeVaIfhBuFDYQCErKtAo304oEq+C8Z8bHHNgy9dV5Dbd4LU6KcAZAp5IAM
mfQrRjXfnmhyO7SHUiPIAAAADmdpdGh1Yi1hY3Rpb25zAQIDBAUGBw==
-----END OPENSSH PRIVATE KEY----- }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ 192.168.35.9 }} >> ~/.ssh/known_hosts

      - name: Copy JAR to target VM
        run: |
          rsync -avz app/target/*.jar \
            ${{ deploy }}@${{ 192.168.35.9 }}:/opt/springboot-app/app.jar

      - name: Restart service on target VM
        run: |
          ssh ${{ deploy }}@${{ 192.168.35.9 }} \
            'sudo systemctl daemon-reload || true; sudo systemctl restart springboot-app && sudo systemctl status springboot-app --no-pager'
